.checkbox {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;

  &::after {
    display: table;
    content: "";
    clear: both;
  }

  &__price {
    color: #555;
    font-size: 13px;
  }
  
  input:disabled + span {
    color: #999;
  }
}

.child_1 {
  margin-left: 13px;
}

.child_2 {
  margin-left: 26px;
}
