.checkbox {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;

  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

.child_1 {
  margin-left: 13px;
}

.child_2 {
  margin-left: 26px;
}
