.form {
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  margin-top: 17px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: 21px;
}

.caption {
  margin-bottom: 0;
  font-size: 13px;
  color: #666;
}
